.section-primary-background {
    background: #fafafa url('http://localhost:3001/wuahge/img/custom/arch-hero-t.png') right 0/auto 100% no-repeat;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.btn-primary-new {
    background-color: #00bc87;
}